* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url('assets/images/bg.jpg');
    height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}
 

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.65;
    background-color: black;
    position: absolute;
    top: 0%;
}

nav {
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 62px;
}

nav img {
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    gap: 23px;
    padding: 0 30px;
}

.hero> :first-child {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.sep{
    height: 7px;
    background-color: rgb(64, 62, 62);
}

.btn{
   padding: 4px 8px;
   font-weight: bold;
   color: white;
   background-color: rgb(35, 33, 33) ;
   border: 1px solid white;
   border-radius: 4px;
   cursor: pointer;
}
.hero-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 10px 24px;
    font-size: 20px;
    border-radius: 4px;
}
.main input{
    padding: 10px 24px;
    font-size: 20px;
    width: 300px;
    border-radius: 4px;
    background-color: black;
    opacity: 0.5px;
    color: white;
    border: 1px solid rgb(36, 35, 35);
}
.btn-red-sm{
    background-color: red;
    color: white;
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}
.secimg img{
    width: 30vw;
    position: relative;
    z-index: 10;
    
}
.secimg{
 position: relative;
}
.secimg video{
    width: 30vw;
position: absolute;
top: 51px;
right:0%;
}
section.first > div{
    display: flex;
    flex-direction: column;
}
section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
section.first > div :nth-child(2){
    font-size: 24px;
}
.faq h2{
    text-align: center;
    font-size: 48px;

}
.faq{
    background-color: black;
    color:white;
    padding: 34px;

}
.box1 svg{
    filter: invert(1);
}
.box1{
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color:  rgb(63, 62, 62);
    padding:  23px;
    max-width: 65vw;
    margin: 34px auto;
    cursor: pointer;
}
.box1:hover{
    background-color: rgb(78, 78, 78);
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}
.footer a{
    
    color: white;
    font-size: 14px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.question{
    padding: 34px 0 ;
}